body{
    background-color:black;
    
}
.container{
    border:0px solid;
    width: 380px;
    height: 380px;
    border-radius: 500px;
    background-color: white;
}
.first{
    border: 0px solid;
    width:130px;
    height: 130px;
    border-radius: 500px;
    position: relative;
    left: 50px;
    top: 50px;
    background-color: rgba(0, 0, 255, 0.548);
}

.second{
    border: 0px solid;
    width:100px;
    height: 100px;
    border-radius: 500px;
    background-color: rgba(255, 166, 0, 0.695);
    position: relative;
    left: 150px;
    top: 170px;
}

.third{
    border: 0px solid;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    background-color: rgba(255, 0, 0, 0.719);
    position: relative;
    left: 0px;
    bottom:100px;
}

.fourth{
    border:0px solid;
    width: 20px;
    height:20px;
    border-radius: 100px;
    background-color: rgb(14, 135, 176);
    position: relative;
    left: 60px;
    bottom: 30px;
}

h2{
    background-color: whitesmoke;
    width: fit-content;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: relative;
    left: 65px;
}
