body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


body {
    background: linear-gradient(to right, #3494e6, #ec6ead);
}

nav {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: background-color 0.5s ease;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #030000;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd166;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}

.project-box {
    width: 200px;
    height: 210px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.project-box:hover {
    transform: scale(1.05);
}

.project-box img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.project-content {
    padding: 10px;
}

h3,
p {
    text-align: center;
    margin: 10px 0;
}

.button-container {
    position: absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
}

.button-container a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #3494e6;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-container a:hover {
    background-color: #ec6ead;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1.5s ease;
}

marquee {
    color: orangered;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.884); 
    font-size: 24px;    
    font-family: 'Times New Roman', Times, serif;    
}

footer {
    background-color: #030000bf;
    color: #ddd;
    padding: 3px;
}

h3 {
    background: linear-gradient(180deg,rgb(0, 255, 242),rgb(255, 149, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.main {
    background: linear-gradient(180deg,blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}