body{
    background-color: grey;
}

.container{
    border: 3px solid white;
    background-color: whitesmoke;
    width: 300px;
    height: 200px;
    border-radius:1200px;
    display: grid;
    align-items: center;
    justify-content: center;

}
.first{
    border:0px solid white;
    width:200px;
    height: 100px;
    border-radius: 23px;
    background-color: red;
    
    
}

.clone{
    position: relative;
    left:50px;
    top:25px;
}

h2{
    background-color:whitesmoke;
    width: fit-content;
    position: relative;
    left:83px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
